@import "compass";
@import "bts3";

@font-face {
  font-family: 'Adventure';
  src: font-url('Adventure.ttf');
}



@import "sprites"; 
@import "global"; 
@import "socials";

@import "header"; 
@import "breadcrumbs"; 

@import "main-page"; 
@import "about-page"; 
@import "articles"; 
@import "articles"; 
@import "videos"; 
@import "test"; 



.footer {
  background: #fff image-url('footer_bg.jpg') 50% -50px no-repeat;
  min-height: 310px;
  position: relative;
  .ico16 {
    background: #fff image-url('ico_16.png') top left no-repeat;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 20px;
    left: 115px;
  }
  .foot_make {
    position: absolute;
    top: 147px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
  .foot_addres {
    top: 190px;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
  .foot_hz {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 270px;
    margin: 0 auto;
  }
}



.social_result {
  padding-left: 150px;
  background: image-url('social_result_omfg.png') 0 0 no-repeat;
  width: 350px;
  height: 61px;
  margin: 0 auto;
  position: absolute;
  top: 270px;
  left: 459px;
  .b-share {
    font: 86%/1.4545em Arial, sans-serif;
    display: -moz-inline-box;
    display: inline-block;
    padding: 3px 4px 1px 10px !important;
    vertical-align: middle;
  }
  .b-share__handle {
    float: left;
    height: 52px;
    margin-right: 4px;
    padding: 5px 0 5px 2px !important;
    cursor: pointer;
    text-align: left;
    text-decoration: none !important;
  }
  .b-share-icon {
    float: left;
    display: inline;
    overflow: hidden;
    width: 35px;
    height: 35px;
    padding: 0 !important;
    vertical-align: top;
    border: 0;
    background: 0 0;
  }
}

.browsehappy {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.thumbnail {
  height: 200px;
  img.pull-right {
    width: 50px;
  }
}